.page-wrapper {
  min-height: 100vh;
}

/* Dashboard = sade */
.dashboard {
  background: #f5f6fa !important;
}

/* Dashboard HARİÇ tüm sayfalarda SVG background */
.page-bg {
  background-image: url("/src/assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}