.draft-notifications {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.draft-notifications h1 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.draft-item {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.draft-item div {
  width: 100%;
}

.draft-item p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.actions {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.9;
}

button.continue-button {
  background-color: #133E87;
  color: white;
  width: 100%;
  text-align: center;
}

button.continue-button:hover {
  background-color: #0f2a5c;
}

button.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #b91c1c;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

button.close-button:hover {
  color: #8b0000;
}

button.cancel-button {
  background-color: #CBDCEB; /* Vazgeç butonu için açık mavi */
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button.cancel-button:hover {
  background-color: #A9C6E8; /* Hover için daha koyu mavi */
}

button.delete-button {
  background-color: #b91c1c; /* Sil butonu için kırmızı */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button.delete-button:hover {
  background-color: #8b0000; /* Hover için daha koyu kırmızı */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}